[user]
    name = Pierre Ellul
    email = 7912093+pellul@users.noreply.github.com
[core]
    editor = emacsclient -t
    edit = emacsclient -t
    autocrlf = false
    safecrlf = true
    eol = lf
    whitespace = trailing-space,space-before-tab,tab-in-indent
[color]
    diff = auto
    status = auto
    branch = auto
[diff]
    noprefix = true
[status]
    showUntrackedFiles = all
[push]
    default = simple
[pull]
    rebase = true
[alias]
    st = status
    br = branch -vv
    go = checkout
    gom = checkout master
    god = checkout develop
    gof = "!sh -c \"git checkout feature/$1\" "
    delete = "!sh -c 'git branch -d \"$0\" && git push origin :\"$0\"'"
    wip = branch --no-merged develop # Work In Progress -> branches not merged to develop
    wwc = branch --merged develop # Work Waiting Check -> branches merged to develop but not deleted
    cp = cherry-pick
    conflicts = !git ls-files -u | cut -f 2 | sort -u
    find-delete = log --diff-filter=D --summary --
    last = log -1 HEAD
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    ls = log --pretty=format:\"%C(green)%h\\\\ %C(yellow)[%ad]%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=relative
    ld = log --pretty=format:\"%C(yellow)%h\\\\ %C(green)%ad%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --date=short --graph
    ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
